In [1]:
import numpy as np
import pandas as pd

# Question 1
Version of NumPy

In [2]:
np.__version__

'1.21.5'

## Question 2
Number of records in the dataset

In [3]:
data = pd.read_csv("data.csv")
data.shape[0]

11914

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [4]:
data["Make"].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

In [5]:
audi = data.loc[data["Make"] == "Audi" , "Model"]
audi.unique().size

34

## Question 5
How many columns in the dataset have missing values?

In [6]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question 6
- Find the median value of "Engine Cylinders" column in the dataset.
- Next, calculate the most frequent value of the same "Engine Cylinders".
- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
- Now, calculate the median value of "Engine Cylinders" once again.

**Has it changed?**

In [7]:
median = data["Engine Cylinders"].median()
mode = data["Engine Cylinders"].mode()
engine = data["Engine Cylinders"]
engine.fillna(4.0, inplace=True)
engine.median(), median

(6.0, 6.0)

## Question 7
- Select all the "Lotus" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Compute the inverse of XTX.
- Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [8]:
lotus = data.loc[data["Make"] == "Lotus", ["Engine HP", "Engine Cylinders"]]
x = lotus.drop_duplicates()
X = np.array(x)
XT = X.T
XTX = np.dot(XT, X)
inverse = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w =np.dot( np.dot(inverse, XT), y)
w[0]

4.594944810094576